.WaterBox{
    width: 60%; /* 유지 */
    height: 55%;
    display: flex;
}

.WaterBoxIn {
    flex: 1;
    margin: 1vw; /* 상대적 마진 값으로 조정 */
    padding: 0.2vw; /* 유지 */
    border-radius: 1vw; /* 상대적 값으로 조정 */
    background-color: #f0f1f4;
    -webkit-box-shadow: 0px 0px 1.2vw -0.1vw #000000; /* 상대적 그림자 크기 */
    box-shadow: 0px 0px 1.2vw -0.1vw #000000; /* 상대적 그림자 크기 */
}

.WaterBoxContainer {
    margin: 1vw 0; /* 상대적 마진 값으로 조정 */
    display: flex;
    align-items: center;
    padding: 0.5vw; /* 유지 */
}

.WaterBoxFontTop {
    font-size: clamp(1vw, 1.2vw, 1.4vw); /* 온도의 폰트 크기를 줄임 */
    font-weight: 550;
    white-space: nowrap;
    margin-left: 0vw;
}

.WaterBoxFontBottom {
    font-size: clamp(1.6vw, 1.9vw, 2.1vw); /* temp의 폰트 크기를 유지 */
    font-weight: 550;
    white-space: nowrap;
    
    margin-left: 0vw;
}

.WaterBoxFontBottomBottom {
    font-size: clamp(1vw, 1.2vw, 1.4vw); /* temp의 폰트 크기를 유지 */
    font-weight: 550;
    white-space: nowrap;
    margin-bottom: 0.5vw;
    margin-left: 2vw;
}

.WaterBoxTextContainer {
    display: flex;
    flex-direction: column; /* 세로로 배치 */
    margin-left: 0.5vw; /* 아이콘과 텍스트 사이의 간격 */
}